body{
    font-family: Comic Sans MS;
    font-size: 18px;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    border: 0;
}
section ul li{
    margin: 5px 0;
}
.mas{
    color: #646464;
    background-color: whitesmoke;
}
.mas:hover{
    text-shadow: 1px 1px 2px #585858;
    
}
.mas h4{
    border-radius: 20px;
    text-align: center;
    padding: 0px;
    margin: 0;
}
.mas h4 a{
    text-decoration: inherit;
    color: #fff;
    text-shadow: 1px 1px 1px #646464;
}
.mas p a{
    color: aliceblue;
    text-shadow: 1px 1px 3px grey;
}
.mas p a:hover{
    color: beige;
    text-shadow: 1px 1px 4px black;
}
#fondo1 h4{
    background-color: #009bdb;
}
#fondo2 h4{
    background-color: orange;
}
#fondo3 h4{
    background-color: #ba007c;
}
#fondo4 h4{
    background-color: #a3bd31;
}
#fondo1:hover{
    background-color: #009bdb;
    color:aliceblue;
    text-shadow: 2px 2px 5px #646464;
}
#fondo2:hover{
    background-color: orange;
    color:aliceblue;
    text-shadow: 2px 2px 5px #646464;
}
#fondo3:hover{
    background-color: #ba007c;
    color:aliceblue;
    text-shadow: 2px 2px 5px #646464;
}
#fondo4:hover{
    background-color: #a3bd31;
    color:aliceblue;
    text-shadow: 2px 2px 5px #646464;
}
h1{
    padding-top: 5px;
    text-align: center;
    color: #242F88;
    text-shadow: 1px 1px 3px #585858;
}
@media screen and (min-width:1280px){
section{
    width: 1280px;
    height: 630px;
    margin: 10px auto;
}
section article{ 
    border-radius: 20px;
    width: 620px;
    height: 340px;
    display: block;
    float: right;
    margin: auto 0;
    background-color: #CC9999;
}
section article p{
    color: #242F88;
    width: 600px;
    height: 300px;
    margin: auto;
    text-align: justify;
}
h3{
    text-align: center;
    color: #aaffff;
}
.img{
    border-radius: 20px;
    width: 630px;
    height: 340px;
    display: block;
    float: left;
    margin: auto 10px;
}  
.img img{
    width: 630px;
    height: 315px;
    border-radius: 15px;
    margin: 10px 0;
}  

#otros{
    margin: auto;
    width: 1240px;
    height: auto;
    display: block;
    float: left;
}
.mas{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    margin: 20px 10px 0 10px;
    display: block;
    float: left;
}
#fondo1 {
    background-image: url(../imagenes/matrimonio1.jpg);
}
#fondo2 {
    background-image: url(../imagenes/matrimonio2.jpg);
}
#fondo3 {
    background-image: url(../imagenes/boda3.jpg);
}
#fondo4 {
    background-image: url(../imagenes/matrimonio3.jpg);
}
}
@media screen and (min-width:960px) and (max-width:1279px){
    section{
    width: 960px;
    height: 660px;
    margin: auto;
}
section article{    
    width: 440px;
    height: 420px;
    border-radius: 20px;
    display: block;
    float: right;
    margin: auto;
    background-color: #CC9999;
}
section article h1{
    padding: 10px 0;
    margin: 0 auto;
}
section article p{
    color: #242F88;
    width: 420px;
    height: 390px;
    margin: auto;
    text-align: justify;
}
h3{
    padding: 10px 0;
    text-align: center;
    color: #aaffff;
}
.img{
    border-radius: 20px;
    width: 500px;
    height: 420px;
    display: block;
    float: left;
    margin: auto 10px;
}  
.img img{
    width: 500px;
    height: 250px;
    margin: 80px auto;
    border-radius: 15px;
}    
#otros{
    margin: auto;
    width: 960px;
    height: 270px;
    padding: 0;
    display: block;
    float: left;
}
.mas{
    width: 220px;
    height: 220px;
    border-radius: 15px;
    margin: 20px 10px 0 10px;
    display: block;
    float: left;
}
    #fondo1 {
    background-image: url(../imagenes/matrimonio1-1.jpg);
}
#fondo2 {
    background-image: url(../imagenes/matrimonio2-1.jpg);
}
#fondo3 {
    background-image: url(../imagenes/boda3-1.jpg);
}
#fondo4 {
    background-image: url(../imagenes/matrimonio3-1.jpg);
}
}
@media screen and (min-width:720px) and (max-width:959px){
    section{
    width: 720px;
    height:1240px;
    margin: 10px auto;
}
section article{    
    width: 720px;
    height: 320px;
    margin: auto;
    border-radius: 20px;
    background-color: #CC9999;
}
section article p{
    color: #242F88;
    width: 600px;
    height: 220px;
    margin: auto;
    text-align: justify;
}
h3{
    text-align: center;
    color: #aaffff ;
}
.img{
    border-radius: 15px;
    width: 600px;
    height: 300px;
    display: block;
    margin: auto ;
}
.img img{
    width: 600px;
    height: 300px;
    border-radius: 15px;
    margin: auto;
}
    

#otros{
    width: 650px;
    height: 500px;
    margin: auto;
    display: block;
    float: left;
}.mas{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    margin: 20px 10px 0 10px;
    display: block;
    float: left;
}
#fondo1 {
    background-image: url(../imagenes/matrimonio1.jpg);
}
#fondo2 {
    background-image: url(../imagenes/matrimonio2.jpg);
}
#fondo3 {
    background-image: url(../imagenes/boda3.jpg);
}
#fondo4 {
    background-image: url(../imagenes/matrimonio3.jpg);
}
}
@media screen and (min-width: 0px) and (max-width:719px){
   section{
    width: 480px;
    height: 1170px;
    margin: 5px auto;
}
section article{    
    width: 480px;
    height: 385px;
    margin: auto;
    border-radius: 20px;
    background-color: #CC9999;
}
section article p{
    color: #242F88;
    width: 450px;
    height: 320px;
    margin: auto;
    text-align: justify;
}
h3{
    text-align: center;
    color: #aaffff ;
}
.img{
    width: 480px;
    height: 240px;
    margin: auto;
    border-radius: 15px;
}  
.img img{
    border-radius: 15px;
    width: 480px;
    height: 240px;
    margin: auto;
}   

#otros{
    width: 480px;
    margin: auto;
    height: auto;
    display: block;
    float: left;
    padding: 0;
}
.mas{
    width: 220px;
    height: 220px;
    border-radius: 15px;
    margin: 20px 10px 0 10px;
    display: block;
    float: left;
}
    #fondo1 {
    background-image: url(../imagenes/matrimonio1-1.jpg);
}
#fondo2 {
    background-image: url(../imagenes/matrimonio2-1.jpg);
}
#fondo3 {
    background-image: url(../imagenes/boda3-1.jpg);
}
#fondo4 {
    background-image: url(../imagenes/matrimonio3-1.jpg);
}
}